<form action="<?=$_SERVER['PHP_SELF']; ?>" method="POST">
  <select name="options" >
     <option value="power steering">Power steering</option>
     <option value="rear wiper">Rear windshield wiper</option>
     <option value="cd changer">6 CD changer</option>
     <option value="fog lamps">Fog lamps</option>
     <option value="central locking">Central locking</option> 
     <option value="onboard navigation">Computer-based navigation</option>
  </select> 
  <input type="submit" name="submit" value="Select">
</form>
